body {
  width:100%;
  height:100%;
  background:#e0f3db;
  margin:0 auto;
  text-align:center;
  font-family:sans-serif;
}

.chart {
  background:#fff;
}

.chart rect {
  fill:#a8ddb5;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
  fill:#000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bar:hover {
  fill:#43a2ca;
}

.chart .tooltip {
}

.tooltip text {
  fill:#000;
  text-anchor:start;
}

.tooltip .tooltip-quarter, .tooltip .tooltip-gdp {
  font-size:36px;
}

.tooltip .tooltip-prev, .tooltip {
  font-size:20px;
}

