/* Color Scheme taken from colorbrewer2.org */

body {
  width:100%;
  height:100%;
  background:#e0f3db;
  margin:0 auto;
  text-align:center;
  font-family:sans-serif;
}

h2 {
  font-weight:normal;
}

.chart {
  background:#fff;
  box-shadow:8px 8px 5px #ccc;
}

.chart rect {
  fill:#a8ddb5;
}

.axis text {
  font: 14px sans-serif;
  fill:#000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.bar {
  display:none;
}

.tooltip text {
  fill:#000;
  text-anchor:start;
}

.tooltip .tooltip-quarter, .tooltip .tooltip-gdp {
  font-size:36px;
}

.tooltip .tooltip-prev, .tooltip {
  font-size:20px;
}

.author-driven-gdp {
  font-size:18px;
}

.author-driven-year {
  font-size:40px;
}

.author-driven-currency {
  display:none;
}