$colorPrimary:              #1779ba;
$colorSecondary:            #ffae00;

$colorBars:                 lightblue;
$colorBarsActive:           rgba(255, 174, 0, 0.7);
$colorBorders:              lightgray;
